
.next/static/webpack/webpack.1e924883fba00b9e35be.hot-update.js
.next/cache
.next/static
.yarn/cache
.next/server/pages/index.js
.next/server/pages/burn.js
.next/static/chunks/pages/burn.js
.next/static/chunks/pages/index.js
.next/static/chunks/webpack.js
